/* body {
    display: flex;
    justify-content: center;
} */
.header {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.body {
    display: flex;
    justify-content: center;
}

.sub {
    /* padding-left: 0px; */
}

.marks {
    text-align: center;
}

input {
    border: none;
    text-align: center;
}

.per {
    text-align: center;
}

.total {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.per-mar {
    text-align: center;
    position: relative;
    top: 20px;
}

.btn {
    border: 1px solid black;
    width: 150px;
    height: 30px;
    cursor: pointer;
}